{% extends 'base.html.twig' %}

{% block title %}Règles générales de diffusion, de référencement et de déférencement{% endblock %}

{% block body %}

<div class="example-wrapper rgpdtext">
    <h2>Règles générales de diffusion, de référencement et de déférencement</h2>

    <h3>Politique de confidentialité Lepticoin</h3>
    <p>(21 juillet 2020)</p>
    <ul>
        <li>Afin que vous puissiez utiliser le Service lepticoin en toute confiance, la présente Politique de
            confidentialité vise à décrire de manière transparente quelles données sont traitées par Arinfo, comment et
            pourquoi.
            <ul>
                <li>Type de données collectées</li>
                <li>Utilisation de vos données</li>
                <li>Destination des données</li>
                <li>Responsable de traitement</li>
                <li>Durée de conservation</li>
                <li>Vos droits</li>
                <li>Sécurité de vos données</li>
            </ul>
        </li>
    </ul>
    <p>Pour tout comprendre en images sur la protection des données cliquez-ici.</p>
    <h3>Politique de Cookies</h3>
    <ul>
        <li>LPC France souhaite vous informer de manière claire et transparente sur l'usage des cookies lors de votre
            navigation sur notre Site et nos Applications.
            <ul>
                <li>Qu'est-ce qu'un cookie ?</li>
                <li>Les cookies utilisés par Arinfo</li>
                <li>Les cookies de nos partenaires</li>
                <li>Vos choix par rapport aux cookies</li>
            </ul>
        </li>
    </ul>
    <h3>Délégué à la protection des données</h3>
    <ul>
        <li>I-MAGINER, dont Arinfo est une des filiales, a désigné un délégué à la protection des données. Il est
            joignable par email : fr.privacy+lepticoin@arinfo.com ou par voie postale : Arinfo, Délégué à la protection
            des données, blablabla...</li>
        <li>Nous vous invitons également à nous contacter pour toute question ou requête relative à la présente
            politique en suivant ce lien.</li>
    </ul>

</div>
{% endblock %}