<h1>Bonjour et bienvenue sur Leptitcoin</h1>

<p>
    Bonjour, veuillez nous confirmer votre adresse mail afin de pouvoir valider votre compte sur Lepticoin <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
   Merci ;)
</p>
