{% extends 'base.html.twig' %}

{% block title %}Informations légales{% endblock %}

{% block body %}

<div class="example-wrapper legalnoticetext">
    <h2>Informations légales</h2>
    <p>Le site Internet www.lepticoin.fr, ci-après dénommé « Lepticoin.fr » propose un service de dépôt et de
        consultation de petites annonces sur Internet plus spécifiquement destiné aux particuliers.</p>
    <p>L'accès au site, sa consultation et son utilisation sont subordonnés à l'acceptation sans réserve des présentes
        Conditions Générales d'Utilisation de Lepticoin.fr.</p>
    <p>Le site est édité par ARINFO, blablabla..., immatriculée au registre du blablabla.... Siège social : blablabla...
    </p>
    <p>Le Superviseur de Publication de Lepticoin.fr est Monsieur Nicolas GICQUEL.</p>
    <p>Numéro de TVA intracommunautaire : FRblablabla...</p>
    <p>Pour toute question sur l'entreprise, vous pouvez nous <a href="#">envoyer vos questions par email</a>.</p>
    <p>Un service réquisition répond uniquement aux demandes des autorités publiques (gendarmerie, police...).</p>
    <p>Pour toute demande ne provenant pas des autorités publiques, nous vous invitons à utiliser notre formulaire de
        Contact en cliquant sur le lien: <a href="#">//www2.lepticoin.fr/support/form/0?id=1</a> .Vous pourrez alors
        sélectionner la
        raison et expliquer votre situation en détail. L’équipe dédiée prendra alors toutes les mesures nécessaires.</p>
    <p>Pour les Réquisitions judiciaires et les Droits de communication, merci de nous faire parvenir le droit de
        communication (sur papier à en-tête daté, signé et tamponné) ou la réquisition (datée, signée et tamponnée)
        précisant la référence de l'annonce, l'adresse email de l'annonceur et/ou son numéro de téléphone, en piece
        jointe par mail à <a href="#">requisition@blablablafrance.fr</a> (le délai de réponse est d'environ 24h les
        jours ouvrés).</p>
    <p>La référence de l'annonce est le numéro figurant dans l'adresse internet de la page de présentation de l'annonce.
    </p>
    <p>Exemple : <a href="#">https://www.lepticoin.fr/voitures/46960255.htm</a>. La référence est 46960255.</p>
    <p>Nous vous transmettrons les informations demandées dans les meilleurs délais. Ces recherches sont effectuées à
        titre gracieux.</p>
    <p>Pour simplifier nos procédures, merci de bien vouloir indiquer dans votre réquisition l'adresse email à laquelle
        vous faire parvenir notre réponse.</p>
    <p>Lepticoin.fr est hébergé par O2SWITCH - blablabla... - blablabla...</p>

    <h3>Conditions générales d'utilisation du service Lepticoin (21/07/2020)</h3>
    <div id="accordion">
        {% for legalNotice in legalNotices %}
        <h3>{{ legalNotice.title }}</h3>
        <div>
            <ul>
                <li>{{ legalNotice.content }}</li>
                <li>{{ legalNotice.content }}</li>
                <li>{{ legalNotice.content }}</li>
            </ul>
        </div>
        {% else %}
        <h3>Aucune donnée trouvée</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}