{% extends 'base.html.twig' %}

{% block title %}Faq public{% endblock %}

{% block body %}

<div class="example-wrapper faqtext">
    <h2>Index F.A.Q.</h2>
    <div id="accordion">
        {% for faq in faqs %}
        <h3>{{ faq.question }}</h3>
        <div>
            <ul>
                <li>{{ faq.answer }}</li>
            </ul>
        </div>
        {% else %}
        <h3>Aucune donnée trouvée</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}