{% extends 'base.html.twig' %}

{% block title %}Nouvelle F.A.Q.{% endblock %}

{% block body %}
    <h1>Créer une nouvelle F.A.Q.</h1>

    {{ include('faq/_form.html.twig') }}

    <a href="{{ path('faq_index') }}">retour à la liste</a>
{% endblock %}
