{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle annonce{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
<div class="formEdit">
    <h1>Créer une nouvelle annonce</h1>

    {{ include('notice/_form.html.twig') }}

    <a href="{{ path('notice_index') }}">Retour à la liste</a>
      </div> {{ form_end(form) }}
{% endblock %}
