{% extends 'base.html.twig' %}

{% block title %}Créer un nouveeau message{% endblock %}

{% block body %}
    <h1>Créer un nouveeau message</h1>

    {{ include('messages/_form.html.twig') }}

    <a href="{{ path('messages_index') }}">Retour à la liste</a>
{% endblock %}
